@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  border: red 2px solid;
  margin: 10px 70px 0 70px;
}
h1 {
  font-size: 40px;
  margin: 30px;
}

p {
  font-size: x-large;
  color: blue;
  text-align: center;
}
button {
  color: black;
  font-family: "Times New Roman", Times, serif;
  border: blue 2px solid;
  background-color: bisque;
  margin: 50px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
